<section class="mentors">
  <div class="mentors-container">
    <h2 class="mentors-title">
      our <span class="mentors-accent">mentors</span>
    </h2>
    <ul class="mentors-members">
      <li class="mentors-item">
        <picture class="mentors-picture">
          <source srcset="./img/mentors/emilia-1x.jpg 1x, ./img/mentors/emilia-2x.jpg 2x"/>
          <img
            class="mentors-image"
            src="./img/mentors/emilia-1x.jpg"
            alt="emilia"
          />
        </picture>
        <div class="mentors-content">
          <h3 class="mentors-subtitle">emilia smith</h3>
          <h4 class="mentors-experience">1.5 years of experience</h4>
        </div>
      </li>
    </ul>
  </div>
</section>
