<section class="mentors">
  <div class="mentors-container">
    <h2 class="mentors-title">
      our <span class="mentors-accent">mentors</span>
    </h2>
    <ul class="mentors-members">
      <li class="mentors-item">
        <picture class="mentors-picture">
          <source
            srcset="./img/mentors/emilia-mobile@1x.png 1x, ./img/mentors/emilia-mobile@2x.png 2x"
            media="(max-width:767px)"
          />
          <source
            srcset="./img/mentors/emilia-tablet@1x.png 1x,./img/mentors/emilia-tablet@2x.png 2x"
            media="(min-width:768px) and (max-width:1199px)"
          />
          <source
            srcset="./img/mentors/emilia-desk@1x.png 1x, ./img/mentors/emilia-desk@2x.png 2x"
            media="(min-width:1280px) and (max-width:1439px)"
          />
          <source
            srcset="./img/mentors/emilia-large@1x.png 1x, ./img/mentors/emilia-large@2x.png 2x"
            media="(min-width:1440px)"
          />
          <img
            class="mentors-image"
            src="./img/mentors/emilia-mobile@1x.png"
            width="180"
            alt="emilia"
          />
        </picture>
        <div class="mentors-content">
          <h3 class="mentors-subtitle">emilia smith</h3>
          <h4 class="mentors-experience">1.5 years of experience</h4>
        </div>
      </li>
    </ul>
  </div>
</section>
